div{
  font-size: 20px;
  font-weight: 700;
}

.App-Wrapper{
  display: grid;
  grid-template-areas: 
  "a1 a1 a1" 
  "a2 a3 a4"
  "a2 a5 a5";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 5fr 5fr 20fr;
  grid-gap: 10px;
  width: 1200px;
}





li{
  list-style-type: georgian;
}









/* интересная штука

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/